.collage-1-2 > img
  width: 49%
  text-align: center
  margin: 0px
  padding: 0px
  display: inline

.collage-1-2
  padding: 0px
  margin: 0px auto

img
  width: 99%

@media (min-width: 1000px)
  img
    display: block
    margin-left: auto
    margin-right: auto
    width: 75%

  .collage-1-2
    width: 75%

@media (max-width: 600px)
  .collage-1-2 > img
    width: 100%
